# Virtual Environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment
.env

# Logs
*.log

# Static files
staticfiles/